body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: unset;
    text-decoration: unset;
}

.button {
    padding: 1rem 2rem;
    border-radius: 1000px;
    border: none;
    color: white;
    background-color: #cb4733;
}

nav {
    background-color: white;
    height: 90px;
}

nav > .container {
    max-width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
}
#hero > .container {
    position: relative;
    height: 735px;
}

.hero-text-group {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    color: white;
}
.hero-title {
    font-size: 3.2rem;
}
.inbetween {
    padding: 1rem;
    background-color: #2e444a;
    color: white;
    text-align: center;
    border-radius: 200px;
    width: 1280px;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

#multiCard {
    background-color: #d5dddf
}
#multiCard > .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    padding: 5rem 0 3rem;
}

.container > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    text-align: center;
    width: 100%;
    background-color: #fdfef9;
    padding: 1rem 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#grid {
    height: 1200px;
}
.row1,
.row2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 600px;
}
.row1 > .row-image {
    background-image: url("../img/grid-1.jpg");
    background-size: cover;
}
.row2 > .row-image {
    background-image: url("../img/grid-2.jpg");
    background-size: cover;
}
.row-text {
    background-color: #fefffa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.row1 > .row-text {
    margin-left: auto;
    margin-right: 16rem;
}
.row2 > .row-text {
    margin-left: 16rem;
}

#iconsPack {
    height: 700px;
    background-image: url("../img/icons-bg.jpg");
    background-size: cover;
    text-align: center;
}
#iconsPack > .container {
    padding: 3rem;
}
.iconsPack-title {
    font-size: 2rem;
}
#iconsPack .columns {
    display: flex;
    gap: 3rem;
    padding: 4rem;
    width: fit-content;
    background-color: rgba(255,255,255,0.9);
    margin: 5rem auto auto;
    border-radius: 20px;
}
.column {
    position: relative;
}
.column-icon {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: #cc4733;
    padding: 1rem;
    border-radius: 100%;
}
.column-icon > img {
    width: 50px;
}

#sbs {
    background-color: #cc3e32;
    display: grid;
    grid-template-columns: 45% 55%;
    height: 700px;
}
#sbs .sbs-img {
    background-image: url("../img/flair.png");
    background-size: cover;
}
.sbs-text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    margin-left: 465px;
}

#contact {
    height: 400px;
    background-color: #e4e9e9;
}
.contact-text {
    grid-row: 1/4
}
#contact .container {
    width: 1280px;
    height: 100%;
    padding: 3rem 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr) 1.5fr;
    gap: 1rem;
}
#contact .container input,
#contact .container .dropdown {
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
#contact .container textarea {
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
#contact .container .dropdown {
    position: relative;
    background: #566a72;
    text-align: left;
}
#contact .container .dropdown::after {
    position: absolute;
    right: 0;
    padding-right: 20px;
    content: "V";
}
#contact .container .submit {
    height: 70%;
    width: 50%;
    margin-left: auto;
    margin-top: auto;
}

#footerMenu {
    height: 340px;
    background-color: #244549;
    color: white;
}
#footerMenu .container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.footer-menu--left {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-right: 5rem;
    justify-content: space-between;
}
.footer-menu--left img {
    width: 50%;
}
#footerMenu .menus {
    display: flex;
    width: 100%;
    gap: 2.5rem;
}
#footerMenu .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer {
    height: 120px;
    background-color: #000;
    color: white;
    text-align: center;
}
#footer .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.footer-1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}